* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

button {
  background-color: #1d0c1f;
  width: 350px;
  border-radius: 4px;
  padding: 6px 12px;
  color: #fff;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(122, 62, 127);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.container {
  background-color: #ffecce;
  padding: 40px;
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-light {
  background-color: black;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
}

.display {
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.light {
  width: 50px;
  height: 50px;
  margin: auto;
  border: black;
  border-style: solid;
  border-radius: 50%;
}

.green-light {
  background-color: green;
}

.yellow-light {
  background-color: yellow;
}

.red-light {
  background-color: red;
}

.light-off {
  background-color: #3e3e3e;
}
