* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: row;
  width: 700px;
  background-color: #62e3c74a;
  justify-content: center;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

.calculator {
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  row-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(#000, black, black, 0.2);
}

.op {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

input {
  height: 22px;
  width: 280px;
  padding: 8px;
  font-size: 1.2em;
  margin: 15px 70px;
  border-radius: 5px;
  text-align: right;
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 10px blue;
  border: 1px solid aqua;
}

button {
  background-color: blue;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5f5ffc;
  box-shadow: 0 8px 16px 0 rgba(black, black, black, 0.2);
}

.history-title {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: #000;
  color: #fff;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(#000, black, black, 0.2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.last-op {
  text-align: right;
  padding: 40px;
}
